@import url(../../design-system/variables.css);

body {
  width: 100%;
  transition: background-color 0.2s, color 0.2s;
}

#app-container {
  height: 100%;
}

.help-info-icon:hover {
  color: #888;
}
